<div class="main-container">
    <div class="bg-img"></div>
    <div class="social-box">
        <div class="social">
            <div class="social-round">
                <img src="../../../assets/images/spotify_vector.png" alt="">
            </div>
            <p>Spotify</p>
        </div>
        <div class="social">
            <div class="social-round">
                <img src="../../../assets/images/soundcloud_vector.png" alt="">
            </div>
            <p>Soundcloud</p>
        </div>
    </div>
    <div class="bg-chi-sono">
        <div class="chi-sono-box">
            <h2 class="mb-4">Chi sono</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsum quia illo sequi maiores quo
                culpa ea odio omnis natus officiis tempora, adipisci dolores architecto saepe, harum error, non repellat
                accusamus? Laboriosam iure ut dolores necessitatibus ad labore quis itaque doloribus repellendus ipsum
                pariatur animi quia, facilis, consequatur provident optio, alias impedit voluptatibus ab. Id corporis,
                sit impedit eaque nihil non repudiandae, aperiam mollitia, veritatis amet quae natus fugiat veniam. Amet
                maxime ipsa, velit est molestiae explicabo! Incidunt, a optio? Illo dolores eum dolorum voluptates
                tempore explicabo atque reiciendis qui error, porro aspernatur totam quod cum repudiandae repellendus
                mollitia impedit.</p>
        </div>
    </div>
</div>